
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">


    </head>
    <body>
        <nav>
            <ul>
		<li><a href="/index">Home</a></li>
            <li>
                <a href="#">Locations ▾</a>
                <ul class="dropdown">
			<li><a href="/profile">Profile</a></li>
			<li><a href="/find-bathroom">Find Bathroom</a></li>
			<li><a href="/add-bathroom">Add Bathroom</a></li>
                </ul>
            </li>
            <li> <a href="/welcome">Sign up</a></li>
            </ul>
        </nav>
        <div class="d-flex justify-content-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
           <form class="login-form" action="/signin" method="POST">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            
            <button type="submit" class="btn btn-primary">Log In</button>

            </form>

         </div>
         <div class="col-md-4">
            <a href="sign_up.html">If you don't have an account, click here to sign up</a>
         </div>
         <div class ="col-md-4">
            <button type="button" class="btn btn-primary btn-lg">Large button</button
         </div>
    </body>
