<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <nav>
            <ul>
            <li><a href="/index">Home</a></li>
            <li>
                <a href="#">Locations ▾</a>
                <ul class="dropdown">
			<li><a href="/profile">Profile</a></li>
			<li><a href="/find-bathroom">Find Bathroom</a></li>
			<li><a href="/add-bathroom">Add Bathroom</a></li>
                </ul>
            </li>
            <li> <a href="/welcome">Sign up</a></li>
            </ul>
        </nav>
        <!--Main container. Everything must be contained within a top-level container.-->
        <div class="container-fluid">
      
          <!--First row (only row)-->
          <div class="row extra_margin">
      
            <!-- First column (smaller of the two). Will appear on the left on desktop and on the top on mobile. -->
            <div class="col-md-4 col-sm-12 col-xs-12">
      
                <!-- Div to center the header image/name/social buttons -->
                <div class="text-center">
      
                    <!-- Placeholder image using Placeholder.com -->
                    <img src="http://via.placeholder.com/300x250" class="img-rounded"/>
      
                    <!-- Header text (Person's name) -->
                    <h2>SIR HAwk TUA</h2>
                    <p>
                        find way to link avg review rating here
                    </p>
      
                    <!-- Social buttons using anchor elements and btn-primary class to style -->
                    <p>
                      <a class="btn btn-primary btn-xs" href="#" role="button">Facebook</a>
                      <a class="btn btn-primary btn-xs" href="#" role="button">Twitter</a>
                      <a class="btn btn-primary btn-xs" href="#" role="button">Instagram</a>
                      <a class="btn btn-primary btn-xs" href="#" role="button">Website</a>
                    </p>
                    <p>
                        Haley welch (insert bio)
                    </p>
      
                </div>
      
            </div> <!-- End Col 1 -->
      
            <!-- Second column - for small and extra-small screens, will use whatever # cols is available -->
            <div class="col-md-8 col-sm-* col-xs-*">
      
                <h3>Past Reviews</h3>
                <hr />
                {% for review in user_reviews %}
                <div class="review">
                    <h4>{{ name}}</h4>
                    <p>Rating: {{ rating }}/5</p>
                    <p>Comment: {{ comment }}</p>
                    <hr />
                </div>
                {% endfor %}
                {% if not user_reviews %}
                <p>No reviews yet.</p>
                {% endif %}
      
      
      </body>
